@model IEnumerable<RepoPractice.Models.OrderModel>

<div>
    <div class="row mt-5">
        @foreach (var item in Model)
        {
            <div class="card shadow col-lg-3 m-4" style="width: 18rem;">
                <div class="card-body">
                    <lable>Order ID : </lable><h5 class="card-title">@Html.DisplayFor(modelItem => item.OrderId)</h5>
                    <lable>Order Status : </lable><p class="card-text">@Html.DisplayFor(modelItem => item.OrderStatus)</p>
                     <button class="btn btn-outline-success">@Html.ActionLink("Send On Mail", "SendMail", "Buyer")</button>
                </div>
            </div>
            <br />
        }
    </div>
</div>

@*@Html.ActionLink("Edit", "UpdateProducts", new { id = item.ProductId }) |
    @Html.ActionLink("Details", "DisplayAllProducts", new { id = item.ProductId }) |
    @Html.ActionLink("Delete", "DeleteProduct", new { id = item.ProductId })
            </td>*@

