@{
    ViewBag.Title = "checkout";
}



<h2>ViewCart</h2>

@if (TempData["cart"] != null)
{


    <table class="table table-responsive">

        <thead>
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>PRICE</th>
                <th>QUANTITY</th>
                <th>BILL</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in TempData["cart"] as List<RepoPractice.Models.CartModel>)
            {


                <tr>
                    <td>@item.ProductModel_ProductId </td>*
                    <td>@item.productname</td>
                    <td>@item.price</td>
                    <td>@item.Quantity</td>
                    <td>@item.TotalAmount</td>
                    <td><a class="btn btn-danger btn-sm" href="@Url.Action("Remove",new{id=@item.ProductModel_ProductId})">&#10060;</a></td>

                </tr>

            }

        </tbody>

        <tfoot>
            <tr>
                <td colspan="4"></td>
                <td>@TempData["total"]</td>

            </tr>
        </tfoot>

    </table>





}
else
{   <div class="mt-5">
        <h2 style="color:red"> Cart is empty....</h2>
        @Html.ActionLink(" Back To Products", "BuyerDisplayAllProduct", "Buyer")
    </div>  
}

@if (TempData["cart"] != null)
{
    using (Html.BeginForm())
    {
        
        @Html.ActionLink(" Back To Products", "BuyerDisplayAllProduct", "Buyer")
    }

}
<button class="btn btn-outline-success">@Html.ActionLink("Buy Now", "Checkout", "Buyer")</button>