@model RepoPractice.Models.ProductModel

@{
    ViewBag.Title = "ViewCart";
}

<h2>ViewCart</h2>

<div>
    <h4>ProductModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            <img src="@Url.Content(Model.Image)" class="card-img-top w-25 h" alt="...">
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Add To Cart", "Edit", new { id = Model.ProductId }) |
    @Html.ActionLink("CheckOut", "Index")
</p>
